<section class=" mt-5 ">
    <div class="container text-center">
        
                <div class="content mb-5">
                    <h1>PORTFOLIO</h1>
                    <div class="custom">
                     <div class="line"></div>
                     <div class="icon">
                    <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="line"></div>
                    </div>
                    
                 </div>
                <div class="items">
                    <div class="row d-flex justify-content-center rounded-3 ">
                        <div class="col-md-4 rounded-5">
                           <div class="image position-relative">
                            <img src="https://routeegypt.com/start-angular/assets/img/portfolio/cabin.png" class="img-fluid w-100 mb-4 " alt="">
                            <div class="layer mb-4">
                                <i class="bi bi-plus-lg"></i>
                            </div>
                           </div>
                           
                        </div>
                        <div class="col-md-4">
                            <div class="image position-relative">
                             <img src="https://routeegypt.com/start-angular/assets/img/portfolio/cake.png" class="img-fluid w-100 mb-4 " alt="">
                             <div class="layer mb-4">
                                 <i class="bi bi-plus-lg"></i>
                             </div>
                            </div>
                            
                         </div>
                         <div class="col-md-4 rounded-5">
                            <div class="image position-relative">
                             <img src="https://routeegypt.com/start-angular/assets/img/portfolio/circus.png" class="img-fluid w-100 mb-4 " alt="">
                             <div class="layer mb-4">
                                 <i class="bi bi-plus-lg"></i>
                             </div>
                            </div>
                            
                         </div>
                         <div class="col-md-4 rounded-5">
                            <div class="image position-relative">
                             <img src="https://routeegypt.com/start-angular/assets/img/portfolio/game.png" class="img-fluid w-100 mb-4 " alt="">
                             <div class="layer mb-4">
                                 <i class="bi bi-plus-lg"></i>
                             </div>
                            </div>
                            
                         </div>
                         <div class="col-md-4 rounded-5">
                            <div class="image position-relative">
                             <img src="https://routeegypt.com/start-angular/assets/img/portfolio/safe.png" class="img-fluid w-100 mb-4 " alt="">
                             <div class="layer mb-4">
                                 <i class="bi bi-plus-lg"></i>
                             </div>
                            </div>
                            
                         </div>
                         <div class="col-md-4 rounded-5">
                            <div class="image position-relative">
                             <img src="https://routeegypt.com/start-angular/assets/img/portfolio/submarine.png" class="img-fluid w-100 mb-4 " alt="">
                             <div class="layer mb-4">
                                 <i class="bi bi-plus-lg"></i>
                             </div>
                            </div>
                            
                         </div>
                         
                    </div>
                </div>
    </div>
      
</section>
