<section class="about-section mt-5">
    <div class="container text-center">
        <div class="content">
            <h1>ABOUT</h1>
            <div class="custom">
             <div class="line"></div>
             <div class="icon">
            <i class="bi bi-star-fill"></i>
            </div>
            <div class="line"></div>
            </div>
            
         </div>
         <div class="about-content">
            <div class="row">
                <div class="col-md-6">
                    <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
                </div>
                <div class="col-md-6">
                    <p>You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p>
                </div>
            </div>
         </div>
    </div>
</section>
