<header>
    <div class="container text-center">
        
                <img src="https://routeegypt.com/start-angular/assets/img/avataaars.svg" class="img-header w-25" alt="">
                <div class="content">
                   <h1>START ANGULAR</h1>
                   <div class="custom">
                    <div class="line"></div>
                    <div class="icon">
                   <i class="bi bi-star-fill"></i>
                   </div>
                   <div class="line"></div>
                   </div>
                   <p>Graphic Artist - Web Designer - Illustrator</p>
                </div>
    </div>
    
</header>
