<footer class="footer text-center">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    2215 John Daniel Drive
                    <br>
                    Clark, MO 65243
                </p>
            </div>
           
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <ul class="list-unstyled d-flex justify-content-center ">
                    <li><i class="bi bi-facebook ps-3"></i></li>
                    <li><i class="bi bi-twitter ps-3"></i></li>
                    <li><i class="bi bi-linkedin ps-3"></i></li>
                    <li><i class="bi bi-google ps-3"></i></li>
                </ul>
            </div>
            
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About Freelancer</h4>
                <p class="lead mb-0">
                    Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</footer>
